.nominantes-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    padding: .5em;
    background: #181836;
}
.nominantes-list:empty {
    background-color: transparent;
}
.nominantes-list:not(:empty)::before {
    content: "Nominations";
    width: 100%;
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.nominantes-item {
    display: flex;
    justify-content: space-between;
}
.nominantes-item p{
    font-size: .8em;
    display: flex;
    padding: 10px;
    flex: 1;
    align-items: center;
}
.nominantes-img{
    width: 100px;
    height: 120px;
    background-color: #282845;
    outline: 7px solid #2e2e2e;
    border-left: 7px dashed #181836;
    border-right: 7px dashed #181836;
    background-position: center;
    background-size: cover;
}
.nominantes-button{
    background: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .nominantes-list {
        width: 100%;
    }
    .nominantes-list:not(:empty)::before {
    background: #181836;
    background: linear-gradient(90deg, #181836 0%, #00002c 33%, #00002c 67%, #181836 100%);
    }
}
@media screen and (max-width: 767px){
    .nominantes-img {
        max-width: 30%;
        width: 70px;
        height: 100px;
    }
}