*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(0, 0, 44);
  font-family:cursive;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}
p{
  font-size: .8em;
  color: #aaaaaa;
}

header{
  text-align: center;
}
main{
  width: 70vw;
  min-height: 30vh;
}
section:empty {
  background-color: tomato;
}
.app-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  padding: 1em;
}


